/* Reset de estilos para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
}

/* Estilos para as seções */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
}

/* Estilos para a lista de atores */
ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 0.8em;
}
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center; /* Centraliza o conteúdo do rodapé */
}